<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="C:\Logs\DotNetCoreBackup.logger.log"
      internalLogLevel="Warn">

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="C:\Logs\DotNetCoreBackup.log" />
    <target name="myconsole" xsi:type="Console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>